/*GitHub styling*/
.github-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.github-icon-link {
  text-decoration: none;
}

.icon-text {
  font-size: 20px;
  color: white;
  filter: drop-shadow(1px 1px 1px #606060);
  font-family: "Poppins";
}

/*LinkedIn styling*/
.linkedin-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.linkedin-icon-link {
  text-decoration: none;
}

/*Mail Styling*/
.mail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/*Resume Styling*/
.resume-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.resume-icon-link {
  text-decoration: none;
}

/*Help Icon*/
/* Tutorial Popup Styling */
.tutorial-popup {
  font-family: "Poppins";
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  z-index: 1000;
}

.help-icon {
  position: fixed;          
  bottom: 70px;            
  right: 20px;             
  font-size: 2rem;       
  color: white;
  cursor: pointer;
  animation: wiggle 1s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.tutorial-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.ok-button {
  font-family: "Poppins";
  background: #a3a9ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.ok-button:hover {
  background: #68368b;
}
