/*Education Styling*/


.education-title {
    font-family: 'Poppins', cursive;
    text-align: center;
    font-size: 40px;
    font-style: bold;
  }
  
  .education-subtitle {
    padding: 10px 20px;
    border-radius: 15px;
    font-family: 'Poppins', cursive;
    font-size: 24px;
    text-align: center;
    margin: 10px 0 30px;
    font-style: italic;
  }
  
  .education-description {
    display: flex;
    flex-direction: column;
  }
  
  .course-list {
    background-color: #95D2B3;
    padding: 15px;
    border-radius: 15px;
    font-family: 'Poppins', cursive;
    font-size: 18px;
    margin: 10px;
  }
  
  
  .clubs-list {
    background-color:#55AD9B;
    padding: 15px;
    border-radius: 15px;
    text-align: left;
    font-family: 'Poppins';
    font-size: 18px;
    margin: 10px;
  }
  
  
  
  .education-courses,
  .clubs {
    font-size: 20px;
    text-align: left;
    font-family: 'Poppins';
    font-style: bold;
  }