/* Experience Styling */
.folder-title {
    font-family: 'Poppins', cursive;
    text-align: center;
    font-size: 40px;
    font-style: bold;
  }
  
  .custom-date-style {
    font-weight: bold;
    font-size: 14px;
    color: #555;
    padding: 5px;
  }
  
  .vertical-timeline::before {
    width: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }