.folder-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-cards {
  display: flex;
  justify-content: space-evenly; 
  flex-wrap: wrap; 
  gap: 16px; 
  margin: 20px auto; 
  max-width: 1200px;
}

.card {
  flex: 1 1 300px; 
  max-width: 300px; 
  box-sizing: border-box; 
  filter: drop-shadow(2px 2px 5px #c5c5c5);
  font-family: "Poppins";
}

.mds {
  font-family: "Poppins";
}
