.folder-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-cards {
  display: flex;
  justify-content: flex-start; 
  flex-wrap: wrap; 
  gap: 16px; 
  margin: 20px auto; 
  max-width: 1200px;
}

.card {
  flex: 1 1 250px; 
  max-width: 300px; 
  box-sizing: border-box; 
}

/* Styling for Phones */
@media (max-width: 800px) {

  .project-cards {
    flex-direction: column; 
    gap: 20px; 
    width: 100%;
  }

  .card {
    width: 90%; 
    margin: 0 auto; 
  }
}